<div class="panel panel-primary">
  <div class="panel-body">

    <form [formGroup]="form" *ngIf="user" class="form-horizontal"
          novalidate>
      <fieldset>

        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->

        <div formGroupName="contacts">
          <div class="panel-body">
            Contact :

            <a class="btn btn-default btn-sm" (click)="addContact()">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
          <div class="panel-body" formArrayName="array">


            <div *ngFor="let contact of form.get('contacts').get('array').controls; let i=index">

              <div class="panel panel-primary">
                <div class="panel-body">

                  <div [formGroup]="array.at(i)">

                    <div class="col-md-6">
                      <div class="form-group"
                           [ngClass]="{'has-error':isValidContactField('mobile',i)}">
                        <label class="col-md-2 control-label"
                        >Tél</label>

                        <div class="col-md-8">
                          <input class="form-control"
                                 type="text"
                                 placeholder="Téléphone"
                                 formControlName="mobile"/>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group"
                           [ngClass]="{'has-error':isValidContactField('mail',i)}">
                        <label class="col-md-2 control-label"
                        >Email</label>

                        <div class="col-md-8">
                          <input class="form-control"

                                 type="text"
                                 placeholder="Mail"
                                 formControlName="mail"/>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <a class="btn btn-default btn-sm" (click)="removeContact(i)">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </div>
                  </div>


                </div>

              </div>
            </div>

          </div>


        </div>    <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->

      </fieldset>


      <button [disabled]="!form.valid" class="btn btn-default btn-sm" (click)="SubmitJsonFormBuilder()">
        <span class="glyphicon "></span> Enregistrer
      </button>

    </form>

  </div>
</div>
<p>
</p>

