<div class="panel panel-primary">
  <div class="panel-body">
    <form *ngIf="user !=='undefined'" class="form-horizontal"
          novalidate

          [formGroup]="form">
      <fieldset>
        <!--------------------------------------------------------------------------------->
        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('firstName')}">
          <label class="col-md-2 control-label"
                 for="firstNameId">Nom</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="firstNameId"
                   type="text"
                   placeholder="Nom"
                   formControlName="firstName"/>
            <span class="help-block" *ngIf="isValidUserField('firstName')">
                 <span *ngIf="form.get('firstName').errors.required">
                               Champ obligatoire
                 </span>
            </span>
          </div>
        </div>
        <!--------------------------------------------------------------------------------->


        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('lastName')}">
          <label class="col-md-2 control-label"
                 for="lastName">Prénom</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="lastName"
                   type="text"
                   placeholder="Prénom"
                   formControlName="lastName"/>
            <span class="help-block" *ngIf="isValidUserField('lastName')">
                <span *ngIf="form.get('lastName').errors.required">
                                Champ obligatoire
                </span>

            </span>
          </div>
        </div>


        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->


        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('team')}">
          <label class="col-md-2 control-label"
                 for="team">Equipe</label>

          <div class="col-md-8">

            <select class="form-control" id="team" formControlName="team">
              <option *ngFor="let team of teams" [value]="team"> {{team}}</option>

            </select>
            <span class="help-block" *ngIf="isValidUserField('team')">
                <span *ngIf="form.get('team').errors.required">
                                Champ obligatoire
                </span>

            </span>
          </div>
        </div>

        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->

        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('photo')}">
          <label class="col-md-2 control-label"
                 for="photo">Photo</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="photo"
                   type="file"
                   accept="image/*"
                   placeholder="photo"
                   (change)="readData($event)"
                   formControlName="photo"/>
            <span class="help-block" *ngIf="isValidUserField('photo')">
                <span *ngIf="form.get('photo').errors.required">
                                Champ obligatoire
                </span>

            </span>
          </div>
        </div>

        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->


        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('login')}">
          <label class="col-md-2 control-label"
                 for="login">Login</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="login"
                   type="text"

                   placeholder="login"

                   formControlName="login"/>
            <span class="help-block" *ngIf="isValidUserField('login')">
                <span *ngIf="form.get('login').errors.required">
                                Champ obligatoire
                </span>

            </span>
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->


        <div class="form-group"
             [ngClass]="{'has-error':isValidUserField('plainPassword')}">
          <label class="col-md-2 control-label"
                 for="login">Mot de passe</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="plainPassword"
                   type="password"

                   placeholder="Mot de passe"

                   formControlName="plainPassword"/>
            <span class="help-block" *ngIf="isValidUserField('plainPassword')">
                <span *ngIf="form.get('plainPassword').errors.required">
                                Champ obligatoire
                </span>

            </span>
          </div>
        </div>
        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->

        <app-contact-array [parentForm]="form"
                           (contactDelete)="removeContact($event)"
                           (contactAdd)="addContact($event)">

        </app-contact-array>

        <!--------------------------------------------------------------------------------->


      </fieldset>


      <button [disabled]="!form.valid" class="btn btn-default btn-sm" (click)="submitFormData()">
        <span class="glyphicon "></span> SubmitFormData
      </button>



      <button [disabled]="!form.valid" class="btn btn-default btn-sm" (click)="SubmitJsonFormBuilder()">
        <span class="glyphicon "></span> SubmitJsonFormBuilder
      </button>

    </form>
  </div>
</div>
<p>
  <!--{{form.value|json}}-->
</p>




